*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

*.txt linguist-language=Text
*.txt linguist-detectable=true
*.txt linguist-documentation=false

*.pyw linguist-language=Python